body {
    background: #101010;
    color: #ececec;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60vw;
    background-color: #161616;
    border-radius: 80px;
}



