body {
    background: #101010;
    color: #ececec;
    font-family: 'Poppins';
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60vw;
    background-color: #161616;
    border-radius: 80px;
    gap: 10rem;
    
}
input{
  color: #ecececee;
  font-size: 1rem;
  font-family: 'Poppins';
  font-stretch: expanded;
}
.inp-box:focus{
    caret-color: #ececec;
}
.inp-box{
    background: #1f1f1f;
    padding: 0.7rem 12rem 0.7rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 80px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.inp-box::placeholder{
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
}
.label{
    font-size: 23px;
    font-weight: 400;
    margin-right: 20px;
}
.btn{
    background: #313a90;
    border: 1px solid transparent;
    border-radius: 80px;
    
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 400;
    color: #ececec;
    cursor: pointer;
}

.cb-name {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
}

.cb-name input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid transparent;
  border-radius: 80px;
  background-color: #1f1f1f;
}

.cb-name:hover input ~ .checkmark {
  background-color: #333333;
}

.cb-name input:checked ~ .checkmark {
  background-color: #313a90;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cb-name input:checked ~ .checkmark:after {
  display: block;
}

.cb-name .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(2px); /* Blur the background */
  }

.modal-content {
    background-color: #161616;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-left: 50px;
    border: 1px solid transparent;
    border-radius: 80px;
    width: 30%; /* Could be more or less, depending on screen size */
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.result-display{
    margin-left: 20px;
}